@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-5">Sympli SEO Rank Board</h3>
    <div>
        <p>Keyword: @Model.Keyword</p>
        <p>Url: @Model.Keyword</p>
    </div>
    <div style="margin-top: 20px;">
        <p>Google: @string.Join(",", @Model.GoogleRanks)</p>
        <p>Bing: @string.Join(",", @Model.BingRanks)</p>
    </div>
</div>
