@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-6">Sympli SEO Rank Board</h3>
    <div>
        <p>Keyword: @Model.Keyword</p>
        <p>Url: @Model.Keyword</p>
    </div>
    <div style="margin-top: 20px;">
        <span>Google: @string.Join(",", @Model.GoogleRanks)</span><br/>
        <span>Bing: @string.Join(",", @Model.BingRanks)</span>
    </div>
</div>
